<a href="https://colab.research.google.com/github/ashis003/Machine-Learning/blob/main/Split_using_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
from sklearn.model_selection import train_test_split
training_data,testing_data = train_test_split(df,train_size=0.7,random_state=42)

In [23]:
training_data.shape[0]

105

In [20]:
training_data

     sepal_length  sepal_width  petal_length  petal_width     species
81            5.5          2.4           3.7          1.0  versicolor
133           6.3          2.8           5.1          1.5   virginica
137           6.4          3.1           5.5          1.8   virginica
75            6.6          3.0           4.4          1.4  versicolor
109           7.2          3.6           6.1          2.5   virginica
..            ...          ...           ...          ...         ...
71            6.1          2.8           4.0          1.3  versicolor
106           4.9          2.5           4.5          1.7   virginica
14            5.8          4.0           1.2          0.2      setosa
92            5.8          2.6           4.0          1.2  versicolor
102           7.1          3.0           5.9          2.1   virginica

[105 rows x 5 columns]

In [21]:
testing_data.shape[0]

45

In [11]:
testing_data

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
18            5.7          3.8           1.7          0.3      setosa
118           7.7          2.6           6.9          2.3   virginica
78            6.0          2.9           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor
..            ...          ...           ...          ...         ...
139           6.9          3.1           5.4          2.1   virginica
61            5.9          3.0           4.2          1.5  versicolor
147           6.5          3.0           5.2          2.0   virginica
79            5.7          2.6           3.5          1.0  versicolor
59            5.2          2.7           3.9          1.4  versicolor

[120 rows x 5 columns]